<!DOCTYPE html>
<html lang="en">
  <head>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>All Players</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>

    <script>
      var mymodule = angular.module("kuchModule", []);

      mymodule.controller("kuchController", function ($scope, $http) {
        $scope.jsonArray = [];

        $scope.doFetchAll = function () {
          var url = "/do-fetch-all-players";

         
          $http.get(url).then(allGoodFx, someBadFx);
          function allGoodFx(response) {
            //resp in JSON array
            // alert(JSON.stringify(response.data));
            $scope.jsonArray = response.data;
          }

          function someBadFx(response) {
            alert(JSON.stringify(response.data));
          }
        };
    
      
        //==================================================
        $scope.oneRecord={};
        $scope.doShowDetails=function(index)
        {
            //alert(JSON.stringify($scope.jsonArray[index]))
            $scope.oneRecord=$scope.jsonArray[index];

        }
    });
    </script>
  </head>
  <body
    ng-app="kuchModule"
    ng-controller="kuchController"
    ng-init="doFetchAll();">
    <center>
      
      

      <div class="container">
        <div class="row">
          <div
            class="col-md-3  p-3 mb-2"      ng-repeat="obj in jsonArray" >
            <div class="card" >
              
            <img src={{obj.profilepicurl}} height="150" class="card-img-top"  />

              <div class="card-body">
                <h5 class="card-title">
                    {{obj.name}}
                </h5>
                </p>
                <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detailsModal" ng-click="doShowDetails($index);">Details of Player</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ************************** -->
       
<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <p>
          <img src="{{oneRecord.acardpicurl}}" height="150" width="150"/>
   </p>
        <p>
            Name Of Player : {{oneRecord.name}}
        </p>
        <p>
            Emailid : {{oneRecord.emailid}}
        </p>
        <p>
            Date of Birth : {{oneRecord.dob | date:'dd-MM-yyyy' }}
        </p>
         <p>
            Contact Number : {{oneRecord.contact}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
      </div>
    </div>
  </div>
</div>

      
    </center>
  </body>
</html>
